<router-outlet>
  <mat-toolbar color="primary">
    <span>ניהול יומן תיק</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
      בית</a
    >
    <a mat-button routerLink="/case">
      <mat-icon>folder</mat-icon>
      Case</a
    >
    <a mat-button routerLink="/registerExhibit">
      <mat-icon>add_box</mat-icon>
      Exhibit</a
    >
    <a mat-button routerLink="/genLabForm">
      <mat-icon>assignment</mat-icon>
      Generate docx</a
    >
    <a mat-button routerLink="/editExhibit">
      <mat-icon>edit</mat-icon>
      Edit Exhibit</a
    >
  </mat-toolbar>
</router-outlet>
