<div>
  <h1>פתיחת תיק</h1>

  <button (click)="generateDocxPage()" style="color: white; background: #009688">יצירת טופס ושליחה למעבדה</button>
 <button (click)="generateId()" style="color: white; background: #009688">צור מספר תיק</button>

  <app-dynamic-form [fields]="fields$"
                    buttonText="שמור פרטי תיק לא כולל תיוגים"
                    [onSubmit]="onSave">

  </app-dynamic-form>

  <!-- button תנועת מוצגים -->
  <!-- material ui seperator  -->
  <mat-divider></mat-divider>
  <h1>תיוגים</h1>
  <app-dynamic-form [fields]="tags$"
                    buttonText="שמור פרטי תיק ותיוגים"
                    [onSubmit]="onSubmit"></app-dynamic-form>
</div>
