<h1>סיכום חודשי</h1>
<div>
  <p>{{ data["totalOpenCases"] }} :סה"כ תיקים פתוחים</p>
  <p>{{ data["monthlyOpenedCases"] }} :תיקים שנפתחו החודש</p>
  <p>{{ data["monthlyClosedCases"] }} :תיקים שנסגרו החודש</p>
  <p>{{ data["totalNoneAreaEvents"] }} :סה"כ אירוים ללא זירות</p>
  <p>{{ data["areasTreatedBySapper"] }} :זירות שטופלו ע"י חבלן</p>
  <p>{{ data["totalCheckedAreas"] }} :סה"כ יציאה לזירות אירוע</p>
  <p>{{ data["totalMonthlyEvents"] }} :סה"כ אירועים החודש</p>
  <p>{{ data["eventsByCategories"] }} :פירוט אירועים עפ"י קטגוריות</p>
</div>
