<h1>סיכום חודשי</h1>
<div>
  <p>{{ monthlySummary[totalOpenCases] }} :סה"כ תיקים פתוחים</p>
  <p>{{ monthlySummary[monthlyOpenedCases] }} :תיקים שנפתחו החודש</p>
  <p>{{ monthlySummary[monthlyClosedCases] }} :תיקים שנסגרו החודש</p>
  <p>{{ monthlySummary[totalNoneAreaEvents] }} :סה"כ אירועים ללא זירות</p>
  <p>{{ monthlySummary[totalCheckedAreas] }} :סה"כ יציאה לזירות אירוע</p>
  <p><b>פירוט אירועים עפ"י קטגוריות</b></p>
  <p>{{ monthlySummary[eventsByCategories_count_weapons] }} :אמל"ח</p>
  <p>{{ monthlySummary[eventsByCategories_count_explosive_device] }} :מטען חבלה</p>
  <p>{{ monthlySummary[eventsByCategories_count_fireworks] }} :זיקוקין</p>
  <p>{{ monthlySummary[eventsByCategories_count_query] }} :בדיקות/שאילתות</p>
</div>
