<div class="chooser">
  <h1>מסך ראשי</h1>
  <mat-grid-list DIR="auto" cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <button mat-raised-button color="primary">סיכום חודשי</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" routerLink="/case">
        פתיחת אירוע חדש
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary">סיכום שנתי</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary">עדכון אירוע קיים</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button  routerLink="/searchCase" color="primary">שאילתות</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button type="submit" color="primary">
        ניהול בורות/מוצגים
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
