* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #264d73;
  font-size: 2.5rem;
  text-align: center;
}
h2,
h3 {
  padding: 20px;
  color: #444;
  font-weight: lighter;
}
h3 {
  font-size: 1.3rem;
}
body {
  padding: 0.5rem;
  max-width: 1000px;
  margin: 10px auto;
}

body,
input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
a {
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
}
/* Navigation link styles */
nav a {
  padding: 5px 15px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 12px;
}
:host {
  display: flex;
  align-items: flex-start;
  text-align: left;
  direction: ltr;
  margin-top: 75px;
}
