<h1>סיכום שנתי</h1>
<div>
  <p>{{ data["totalOpenCases"] }} :סה"כ תיקים פתוחים</p>
  <p>{{ data["totalOpenCasesThisYear"] }} :סה"כ תיקים בסטטוס פתוח השנה</p>
  <p>{{ data["yearlyOpenedCases"] }} :תיקים שנפתחו השנה</p>
  <p>{{ data["yearlyClosedCases"] }} :תיקים שנסגרו השנה</p>
  <p>{{ data["totalNoneAreaEvents"] }} :סה"כ אירוים ללא זירות</p>
  <p>{{ data["areasTreatedBySapper"] }} :זירות שטופלו ע"י חבלן</p>
  <p>{{ data["totalCheckedAreas"] }} :סה"כ יציאה לזירות אירוע</p>
  <p>{{ data["totalYearlyEvents"] }} :סה"כ אירועים השנה</p>
  <p>{{ data["eventsByCategories"] }} :פירוט אירועים עפ"י קטגוריות</p>
</div>
<div>
  <div class="row">
    <p class="month">ינואר</p>
    <p class="month">פברואר</p>
    <p class="month">מרץ</p>
    <p class="month">אפריל</p>
    <p class="month">מאי</p>
    <p class="month">יוני</p>
  </div>
  <div class="row">
    <p class="month">יולי</p>
    <p class="month">אוגוסט</p>
    <p class="month">ספטמבר</p>
    <p class="month">אוקטובר</p>
    <p class="month">נובמבר</p>
    <p class="month">דצמבר</p>
  </div>
</div>
